body {
	padding: 0;
	margin: 0;
}

div#root > div {
	overflow: hidden;
}

.list {
	overflow: hidden;
	height: 300px;
}

.item {
	background: black;
	position: absolute;
	width: 100%;
	height: 70px;
	padding: 5px;
	border: 5px solid #202328;
	box-sizing: border-box;
	overflow: hidden;

	color: white;
	font-size: 20px;
	line-height: 60px;

	will-change: transform;
}
